@import "../../../../styles/variables";

blockquote {
  $border-color: #86673c;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: .8em 0 .25em 0;

  & > .rp-content {
    display: inline-block;
    position: relative;
    min-width: 35%;
    margin: .5em 1em 0;
    padding: .4em .6em;
    border-radius: .6em;
    background: desaturate(darken($border-color, 25%), 35%);
    border: 1px solid $border-color; 
    border-bottom-width: 3px;

    &::before {
      $triangle-size: 8px;
      content: "";
      position: absolute;
      top: -$triangle-size;
      left: 1em;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 $triangle-size $triangle-size $triangle-size;
      border-color: transparent transparent $border-color transparent;
    }
  }

  & > .rp-author {
    position: relative;
    color: lighten($border-color, 35%); // #eece93;
    font-size: .82em;
    letter-spacing: .04em;
    font-weight: $fontWeightBold;

    & > img {
      vertical-align: middle;
      margin-top: -.2em;
      margin-right: .4em;
    }
  }

  :host-context(.quote-content, p.rp-content, p.aside, .flag) .rp-content {
    margin: .5em 0 0; //targets all rp that are inside another quote, rp, aside, or flag
  }
}