@import "../../../../styles/variables";

a.player {
  $player-color: darken($lightWhite, 20%);
  padding: 0 0.6em 0 0.2em;
  margin: 0 .1em;
  border-radius: .25em;
  font-weight: $fontWeightBold;
  color: $player-color;
  background: transparentize($player-color, .9);

  &:hover, &:active, &:focus {
    color: lighten($player-color, 10%);
    background: transparentize($player-color, .75);
  }

  &::before {
    content: "";
    display: inline-block;
    vertical-align: text-top;
    margin: .05em .1em;
    width: 15px;
    height: 18px;
    background: url("../../../../static/assets/icons/not_friend.svg") center no-repeat;
  }

  &.friend {
    $friend-color: $lightViolet;
    color: $friend-color;
    background: transparentize($friend-color, .9);

    &:hover, &:active, &:focus {
      color: lighten($friend-color, 10%);
      background: transparentize($friend-color, .75);
    }

    &::before { background: url("../../../../static/assets/icons/friend.svg") center no-repeat; }
  }
}

/* a.player-alt { // Too heavy on styles
  padding: .05em 0.6em .05em 0.2em;
  margin: 0 .1em;
  border: 1px solid $mediumGrey;
  // border-bottom-width: 2px;
  border-radius: .25em;
  color: $lightGrey;
  font-weight: $fontWeightBold;
  background: $deepBlack;

  transition: all .15s;

  &:hover, &:active, &:focus {
    text-decoration: none;
    color: lighten($lightGrey, 15%);
    border-color: $lightGrey;
  }

  &::before {
    content: "";
    display: inline-block;
    vertical-align: text-top;
    margin: .05em .1em;
    width: 15px;
    height: 18px;
    background: url("../../../../static/assets/icons/not_friend.svg") center no-repeat;
  }

  &.friend {
    border-color: lighten($mediumViolet, 10%);
    color: $lightViolet;

    &:hover, &:active, &:focus {
      color: lighten($lightViolet, 10%);
      border-color: lighten($mediumViolet, 25%);
    }

    &::before { background: url("../../../../static/assets/icons/friend.svg") center no-repeat; }
  }
} */
