<etwin-main-layout>
  <h1 i18n="Title of the games section@@games.title">Games</h1>

  <ng-container *ngFor="let game of games">
    <article class="game" [id]="game.id">
      <app-game-box [cover]="game.cover" [color]="game.color"></app-game-box>
      <div>
        <h2 [i18n]="game.titleI18n">{{ game.title }}</h2>
        <p [i18n]="game.descriptionI18n">{{ game.description }}</p>
        <em [i18n]="game.statusI18n">{{ game.status }}</em>
        <div class="actionBox">
          <a [href]="game.link" [i18n]="game.buttonI18n" class="btn">{{ game.buttonText }}</a>
        </div>
      </div>
    </article>

    <div class="splitter"></div>
  </ng-container>

</etwin-main-layout>
