@import "../../../../styles/variables";

blockquote {
  margin: 0.8em 0 0;
  padding-bottom: 0.25em;
  font-style: normal;

  & > .quote-content {
    color: darken($lightWhite, 20%);
    margin: 0 .6em;
    padding-left: .6em;
    border-left: 2px solid darken($lightWhite, 50%);
  }

  & > .quote-author {
    position: relative;
    color: $lightWhite;
    font-size: .82em;
    letter-spacing: .04em;;
    font-weight: $fontWeightBold;
  }

  :host-context(.quote-content, p.rp-content, p.aside, .flag) .quote-content {
    margin: 0 .2em; //targets all quotes that are inside another quote, rp, aside, or flag
  }
}