@import "../../../../styles/variables";

p.aside {
  font-size: .85em;
  line-height: 1.4em;
  letter-spacing: .03em;
  font-style: italic;
  color: darken($lightWhite, 15%);
  margin: .8em 0 .25em 0;
  padding: .5em 1em;
  border-left: 2px solid transparentize($lightWhite, .85);
  border-radius: 1.2em;

  :host-context(.quote-content, p.rp-content, p.aside, .flag) p.aside {
    padding: .3em .6em; //targets all aside that are inside another quote, rp, aside, or flag
  }

  :host-context(p.aside) p.aside {
    font-size: 0.95em; //targets all aside that are inside another aside

    :host-context(p.aside) p.aside {
      :host-context(p.aside) p.aside {
        font-size: 1em; //targets all aside that are inside 3 ore more consecutive asides
      }
    }
  }
}