<h1>{{user.username}}</h1>

<a [routerLink]="['', 'api', 'v1', 'archive', 'hammerfest', user.server, 'users', user.id]">Raw</a>

<div *ngIf="canArchive$ | async">
  <form
    method="POST"
    enctype="application/x-www-form-urlencoded"
    action="/actions/archive/hammerfest"
  >
    <input type="hidden" name="hammerfest_server" [value]="user.server"/>
    <input type="hidden" name="hammerfest_username" [value]="user.username"/>
    <label>
      <span i18n="Hammerfest password (archive Hammerfest)@@archive.hammerfest.password">Hammerfest password</span>
      <input type="password" name="hammerfest_password" class="field" required="required"/>
    </label>
    <input type="submit" name="archive_hammerfest" class="btn primary" i18n-value="Request an archive for Hammerfest user@@archive.hammerfest.submit"
           value="Request archive" />
  </form>
</div>

<div class="linked-user" [ngSwitch]="user.server">
  <ng-container *ngSwitchCase="'hfest.net'">
    <a href="http://www.hfest.net/user.html/{{user.id}}">
      <span><img src="assets/login-methods/hammerfest.png"/></span>
      <strong>{{user.username}}</strong>
      <em>hfest.net</em>
    </a>
  </ng-container>
  <ng-container *ngSwitchCase="'hammerfes.es'">
    <a href="http://www.hfest.net/user.html/{{user.id}}">
      <span><img src="assets/login-methods/hammerfest.png"/></span>
      <strong>{{user.username}}</strong>
      <em>hammerfest.es</em>
    </a>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <a href="http://www.hammerfest.fr/user.html/{{user.id}}">
      <span><img src="assets/login-methods/hammerfest.png"/></span>
      <strong>{{user.username}}</strong>
      <em>hammerfest.fr</em>
    </a>
  </ng-container>
</div>

<div class="linked-user" *ngIf="user.etwin.current !== null">
  <a [routerLink]="['', 'users', user.etwin.current.user.id]">
    <span><img src="assets/login-methods/eternal-twin.png"/></span>
    <strong>{{user.etwin.current.user.displayName.current.value}}</strong>
    <em>Eternaltwin</em>
  </a>
</div>

<dl>
  <dt>User id</dt>
  <dd>{{user.id}}</dd>
  <dt>Archived since</dt>
  <dd>{{user.archivedAt | date}}</dd>

  <ng-container *ngIf="user.profile !== null">
    <dt>Best Score</dt>
    <dd>{{user.profile.latest.value.bestScore}}</dd>
    <dt>Best Level</dt>
    <dd>{{user.profile.latest.value.bestLevel}}</dd>
  </ng-container>
</dl>

<ng-container *ngIf="user.inventory !== null">
  <h2>Inventory ({{user.inventory.latest.retrieved.latest | date}})</h2>

  <ol class="items">
    <li *ngFor="let itemId of itemIds;">
      <etwin-hammerfest-item
        [id]="itemId"
        [count]="user.inventory.latest.value.has(itemId) ? user.inventory.latest.value.get(itemId) : 0"
      >
      </etwin-hammerfest-item>
    </li>
  </ol>
</ng-container>
