<ng-container>
  @if (auth$ | async; as auth) {
    <div class="buttonList">
      @if (auth.type === AuthType.User) {
        <a
          class="notif"
          *ngIf="shouldCompleteProfile"
          [routerLink]="'/settings'"
          i18n="Text of the shouldCompleteProfile@@app.menu.shouldCompleteProfile"
        >
          Missing Eternaltwin username or password: you risk losing your account! Configure them in the settings.
        </a>
        <span class="spacer"></span>
        @if(auth.isAdministrator) {
          <a class="button" [routerLink]="['/admin']">Admin</a>
        }
        <a class="button" [routerLink]="['/users', auth.user.id]">{{auth.user.displayName.current.value}}</a>
        <a class="button" routerLink="/settings" i18n="Top-bar link to the user settings page@@app.settingsNav">Settings</a>
        <form
          action="/actions/logout"
          enctype="application/x-www-form-urlencoded"
          method="POST"
          (ngSubmit)="onSignOut($event)"
        >
          <input
            class="button"
            type="submit"
            i18n-value="Label of the sign out button@@app.signOut"
            value="Sign out"
            i18n-title="Title of the sign out button@@app.signOut.title"
            title="Sign out"
          />
        </form>
      } @else {
        <a class="button" routerLink="/register" i18n="Top-bar button to the login page@@app.registerNav">Register</a>
        <a class="button" routerLink="/login" i18n="Top-bar button to the login page@@app.loginNav">Sign in</a>
      }
    </div>
  }
</ng-container>
