@import "../../styles/variables";

etwin-linked-user, .linked-user {
    width: 32%;
    min-width: 240px;

    a {
      display: grid;
      padding: .7em 1em;
      border-radius: 4px;
      background: $darkGrey;
      grid-template-areas:
        "icon user"
        "icon website";
      grid-template-columns: auto 1fr;
      column-gap: .6em;

      transition: all .15s;

      &:hover, &:focus, &:active {
        background: $darkViolet;
      }
    }
  
    span.icon {
      grid-area: icon;
      height: 4em;
    }
  
    strong { grid-area: user; }
    em { grid-area: website; }
    em, strong { margin: auto 0; }
  
    span.actions {
      display: block;
      padding: .2em 1em .7em;
    }
  }