@import "../../../styles/variables";

$metaColor: $lightViolet;
$metaBg: $deepViolet;
$borderColor: $lightViolet;
$spacing: 0.5rem;

:host {
  display: block;
  background-color:$darkGrey;
  border-bottom: 3px solid $deepBlack;
  border-radius: 4px;
  margin: 2.7 * $spacing 0;
  padding: 9px 0 0 0;
}

.post-meta {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-height: 2.4em;
  margin-left: .6em;

  .author {
    font-weight: $fontWeightBold;
  }
}

.avatar {
  border: 1px solid $deepBlack;

  img {
    display: block;
    width: 70px;
  }
}

.post-banner {
  display: flex;
  align-items: center;
  flex: 1;
  margin: .4em 0;
  padding: .1em 1em .1em .8em;
  background-color: darken($deepGrey, 2.5);
  color: $lightViolet;

  .title {
    display: flex;
    align-items: center;
    margin: 0 1.4em;
    font-size: .85em;
    font-style: italic;
    color: lighten($mediumGrey, 15%);

    img { padding-right: .4em;}
  }

  .time {
    flex: 1;
    font-size: .7em;
    line-height: 1.25em;
    color: lighten($mediumGrey, 15%);
    text-align: right;
  }
}

.body, .deleted, .moderation {
  margin-left: calc(72px + .6em);
  padding: .4em .8em .8em;
}

.deleted {
  background-color: black;
}

.moderation {
  background-color: #470d0b;
}

.actionBox {
  justify-content: flex-end !important;
  margin: .5em 1em !important;

    .btn {
    font-size: .8em !important;
  }
}

// div { border: 2px solid red; }
