<h1>{{user.username}}</h1>

<div *ngIf="canArchive$ | async">
  <form
    method="POST"
    enctype="application/x-www-form-urlencoded"
    action="/actions/archive/dinoparc"
  >
    <input type="hidden" name="dinoparc_server" [value]="user.server"/>
    <input type="hidden" name="dinoparc_username" [value]="user.username"/>
    <label>
      <span i18n="Dinoparc password (archive Dinoparc)@@archive.dinoparc.password">Dinoparc password</span>
      <input type="password" name="dinoparc_password" class="field" required="required"/>
    </label>
    <input type="submit" name="archive_dinoparc" class="btn primary" i18n-value="Request an archive for Dinoparc user@@archive.dinoparc.submit"
           value="Request archive" />
  </form>
</div>

<div class="linked-user">
  <a>
    <span><img src="assets/login-methods/dinoparc.png"/></span>
    <strong>{{user.username}}</strong>
    <em>{{user.server}}</em>
  </a>
</div>

<div class="linked-user" *ngIf="user.etwin.current !== null">
  <a [routerLink]="['', 'users', user.etwin.current.user.id]">
    <span><img src="assets/login-methods/eternal-twin.png"/></span>
    <strong>{{user.etwin.current.user.displayName.current.value}}</strong>
    <em>Eternaltwin</em>
  </a>
</div>

<dl>
  <dt>User id</dt>
  <dd>{{user.id}}</dd>
  <dt>Archived since</dt>
  <dd>{{user.archivedAt | date}}</dd>

  <ng-container *ngIf="user.coins !== null">
    <dt>Coins ({{user.coins.latest.period.start | date}})</dt>
    <dd>{{user.coins.latest.value}}</dd>
  </ng-container>
</dl>

<ng-container *ngIf="user.dinoz !== null">
  <h2>Dinoz ({{user.dinoz.latest.period.start | date}})</h2>

  <ul>
    <li *ngFor="let d of user.dinoz.latest.value">
      <a [routerLink]="['', 'archive', 'dinoparc', d.server, 'dinoz', d.id]">Dinoz #{{d.id}}</a>
    </li>
  </ul>
</ng-container>

<ng-container *ngIf="user.inventory !== null">
  <h2>Inventory ({{user.inventory.latest.period.start | date}})</h2>

  <ul>
    <li *ngFor="let id of user.inventory.latest.value.keys()">
      Item #{{id}}: {{user.inventory.latest.value.get(id)}}
    </li>
  </ul>
</ng-container>
